body {
    margin: 0;
    font-family: Helvetica;
    background-color: black;
}

canvas {
    pointer-events: none;
}

input {
    cursor: pointer;
}

#connect-leap {
    bottom: 0;
    top: auto !important;
}

table, th, td {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
}

td, th {
    vertical-align: top;
    padding: 3px;
}

th {
    color: #555;
}

#view-source {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}